*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: 'Oswald', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
}

#newfont {
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: #000000;
    background-image: url("../images/background-image.png");
    font-family: 'Oswald', sans-serif; 
}

#header {
    justify-content: end;
    background-color: #6B9B8A;
    color: #F8F8F6;
    width: 100%;
}

#header > div > a > h2 {
    color: #F8F8F6;
}

#my-name {
    font-style: italic;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 90%;
    height: auto;
    object-fit: contain;
    justify-content: center;
}

#hero > img {
    max-width: 100%;
    object-fit: cover;
    padding-top: 25px;
}

#my-story {
    text-align: center;
    font-size: large;
}

#footer {
    margin-top: 10px;
    padding: 20px;
    justify-content: end;
    background-color: #6B9B8A;
    color: #F8F8F6;
}

.topic-header {
    background-color: #6B9B8A;
    width: 90%;
    text-align: center;
}

.topic-header > h3 {
    color: #F8F8F6;
}

p {
    margin: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: x-large;
}

h3, h4 {
    font-size: x-large;
}

/* Utility */

.flex-container {
    display: flex;
    /* margin: 10px; */
}

.flex-container > div {
    padding: 20px; 
    
}

.flex-column {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    height: 80%;
    gap: 10px;
    background-color:  	#3B0918;
    color: #C9B1C6;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
}

.flex-row > div > a > h4 {
    color: #C9B1C6;
}

.flex-row > div {
    color: #C9B1C6;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }


.filler {
    flex-grow: 1;
}

@media screen and (max-width: 980px) {
    #header {
        display: flex;
        flex-direction: column;
        font-size: medium;
        text-align: center;
    }

    #my-name {
        font-size: larger;
    }

    .filler {
        flex-grow: unset;
    }

    .sticky {
        position: relative;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .flex-row {
        display: flex;
        flex-direction: column;
        height: 80%;
        gap: 10px;
        background-color:  	#3B0918;
        color: #C9B1C6;
        width: 80%;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .flex-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .flex-row {
        display: flex;
        flex-direction: column;
        height: 80%;
        gap: 10px;
        background-color:  	#3B0918;
        color: #C9B1C6;
        width: 80%;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media screen and (max-width: 575px) {
    .flex-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .flex-row {
        display: flex;
        flex-direction: column;
        height: 80%;
        gap: 10px;
        background-color:  	#3B0918;
        color: #C9B1C6;
        width: 80%;
        justify-content: space-evenly;
        align-items: center;
    }
}